.rainLight {
	position: absolute;
	height: 100%;
	width: 100%;
	bottom: 0;
	top: 0;
}
.rainDropsLight, .rainDrops2Light {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  top: -100%;
  -webkit-animation: rainfall 0.75s linear infinite;
  animation: rainfall 0.75s linear infinite;
  will-change: transform;
}
.rainDrops2Light {
  animation-delay: 0.5s;
}
@keyframes rainfall {
  to {
    transform: translate3d(5%, 200%, 0);
  }
}

.dropLight {
	height: 5px;
	width: 5px;
  border-radius: 50%;
  background: rgba(255,255,255,0.5);
  transform: rotate(355deg);
}

.dropLight:nth-of-type(1) {
	position: absolute;
	left: 83%;
	top: 16%;
}

.dropLight:nth-of-type(2) {
	position: absolute;
	left: 7%;
	top: 94%;
}

.dropLight:nth-of-type(3) {
	position: absolute;
	left: 12%;
	top: 25%;
}

.dropLight:nth-of-type(4) {
	position: absolute;
	left: 25%;
	top: 94%;
}

.dropLight:nth-of-type(5) {
	position: absolute;
	left: 39%;
	top: 10%;
}

.dropLight:nth-of-type(6) {
	position: absolute;
	left: 2%;
	top: 63%;
}

.dropLight:nth-of-type(7) {
	position: absolute;
	left: 87%;
	top: 73%;
}

.dropLight:nth-of-type(8) {
	position: absolute;
	left: 27%;
	top: 71%;
}

.dropLight:nth-of-type(9) {
	position: absolute;
	left: 13%;
	top: 85%;
}

.dropLight:nth-of-type(10) {
	position: absolute;
	left: 20%;
	top: 94%;
}

.dropLight:nth-of-type(11) {
	position: absolute;
	left: 91%;
	top: 16%;
}

.dropLight:nth-of-type(12) {
	position: absolute;
	left: 5%;
	top: 56%;
}

.dropLight:nth-of-type(13) {
	position: absolute;
	left: 90%;
	top: 49%;
}

.dropLight:nth-of-type(14) {
	position: absolute;
	left: 39%;
	top: 26%;
}

.dropLight:nth-of-type(15) {
	position: absolute;
	left: 47%;
	top: 42%;
}

.dropLight:nth-of-type(16) {
	position: absolute;
	left: 47%;
	top: 50%;
}

.dropLight:nth-of-type(17) {
	position: absolute;
	left: 74%;
	top: 82%;
}

.dropLight:nth-of-type(18) {
	position: absolute;
	left: 81%;
	top: 82%;
}

.dropLight:nth-of-type(19) {
	position: absolute;
	left: 8%;
	top: 38%;
}

.dropLight:nth-of-type(20) {
	position: absolute;
	left: 62%;
	top: 53%;
}

.dropLight:nth-of-type(21) {
	position: absolute;
	left: 64%;
	top: 67%;
}

.dropLight:nth-of-type(22) {
	position: absolute;
	left: 12%;
	top: 75%;
}

.dropLight:nth-of-type(23) {
	position: absolute;
	left: 78%;
	top: 23%;
}

.dropLight:nth-of-type(24) {
	position: absolute;
	left: 70%;
	top: 98%;
}

.dropLight:nth-of-type(25) {
	position: absolute;
	left: 18%;
	top: 41%;
}

.dropLight:nth-of-type(26) {
	position: absolute;
	left: 100%;
	top: 16%;
}

.dropLight:nth-of-type(27) {
	position: absolute;
	left: 4%;
	top: 42%;
}

.dropLight:nth-of-type(28) {
	position: absolute;
	left: 3%;
	top: 23%;
}

.dropLight:nth-of-type(29) {
	position: absolute;
	left: 13%;
	top: 55%;
}

.dropLight:nth-of-type(30) {
	position: absolute;
	left: 31%;
	top: 33%;
}

.dropLight:nth-of-type(31) {
	position: absolute;
	left: 35%;
	top: 62%;
}

.dropLight:nth-of-type(32) {
	position: absolute;
	left: 98%;
	top: 16%;
}

.dropLight:nth-of-type(33) {
	position: absolute;
	left: 64%;
	top: 54%;
}

.dropLight:nth-of-type(34) {
	position: absolute;
	left: 14%;
	top: 74%;
}

.dropLight:nth-of-type(35) {
	position: absolute;
	left: 3%;
	top: 49%;
}

.dropLight:nth-of-type(36) {
	position: absolute;
	left: 34%;
	top: 31%;
}

.dropLight:nth-of-type(37) {
	position: absolute;
	left: 92%;
	top: 75%;
}

.dropLight:nth-of-type(38) {
	position: absolute;
	left: 41%;
	top: 50%;
}

.dropLight:nth-of-type(39) {
	position: absolute;
	left: 45%;
	top: 36%;
}

.dropLight:nth-of-type(40) {
	position: absolute;
	left: 90%;
	top: 38%;
}

.dropLight:nth-of-type(41) {
	position: absolute;
	left: 77%;
	top: 50%;
}

.dropLight:nth-of-type(42) {
	position: absolute;
	left: 22%;
	top: 70%;
}

.dropLight:nth-of-type(43) {
	position: absolute;
	left: 68%;
	top: 34%;
}

.dropLight:nth-of-type(44) {
	position: absolute;
	left: 42%;
	top: 15%;
}
